html
  head
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet' href='css/main.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')

    meta(name='viewport' content='width=device-width, initial-scale=1')

    title Contact Bump
  body
    div.container
      .page-header
        h1= '<Contact Bump>'

      .row
        .col-md-6
          each contact in contacts
            .row
              .col-md-12
                .panel.panel-default
                  .panel-body
                    .row
                      .col-md-4
                        h5= contact.firstName + ' ' + contact.lastName
                    .row
                      .col-md-12
                        if contact.phoneNumber
                          p= 'Phone #: ' + contact.phoneNumber

                        if contact.email
                          p= 'Email: ' + contact.email

                        if contact.bumpedAt
                          p= 'bumpedAt: ' + moment(contact.bumpedAt).format('M/D/YYYY h:mma')
                          form(action='/clearBump' method='POST')
                            input.hidden(name='contactId' value=contact._id)
                            .text-right
                              button.btn.btn-success(type='submit')
                                i.fa.fa-check-square-o(aria-hidden='true')
                                |  Contacted
                        else
                          p= 'Next bump: ' + moment(contact.needsBumpAt).format('M/D/YYYY h:mma')

        .col-md-6
          .row
            .col-md-6
              .panel.panel-default
                .panel-heading
                  h2 New Contact
                .panel-body
                  form(action='/contacts' method='POST')
                    .form-group
                      label First name
                      input.form-control(type='text' name='firstName')
                    .form-group
                      label Last name
                      input.form-control(type='text' name='lastName')
                    .form-group
                      label Phone #
                      input.form-control(type='tel' name='phoneNumber')
                    .form-group
                      label Email
                      input.form-control(type='email' name='email')
                    .checkbox
                      label
                        input(type='checkbox' name='needsContacting')
                        | Needs contacting
                    .form-group
                      .text-right
                        button.btn.btn-default(type='submit') Create
